@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
.bg-draw {
	background: #4233ae !important;
}
body {
	font-family: Open Sans, Roboto, sans-serif !important;
}
.navbar-brand {
	font-family: 'Pacifico', cursive !important;
}
.card-draw {
	border:none!important;
	box-shadow: 0 0 .7em #d9d9d9;
	transition: 0.3s;
}
.card-draw:hover {
	text-decoration: none !important;
	box-shadow: 0 0 1.3em #959595;
	transform: scale(1.01);
}
@keyframes animateBg {
	0% {
		background-position: 0% 54%;
	}
	50% {
		background-position: 100% 47%;
	}
	100% {
		background-position: 0% 54%;
	}
}
.btn-create {
	background: linear-gradient(240deg, #4798ee, #fd616f, #8f6fe8, #46aadb, #b3ffab, #d6f022);
	background-size: 1200% 1200%;
	animation: animateBg 10s ease infinite;
	margin: auto;
	position: relative;
	z-index: 999;
	font-weight: bold;
}
.btn-create:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: inherit;
	z-index: -1;
	filter: blur(10px);
}
.btn-create:hover {
	opacity: 0.8;
	transition: 0.3s opacity;
}
.md-radio {
	position: relative;
	transition: 0.3s;
}

.md-radio input:checked + span {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background: rgba(0,0,0,0.1);
	box-shadow: 0 0 .5em rgba(0,0,0,0.5);
}
#color-picker input {
	height: 25px;
	margin-top: 8px;
	background: transparent;
	outline: none;
	border: none;
	cursor: pointer;
	border-radius: 999rem;
}
#stroke-weight {
	margin-top: 8px;
}
#chatroom {
	height: 200px;
	overflow-y: scroll;
}
.mess:nth-child(even) {
    background-color: #BDDFEA;
}

.mess:nth-child(odd) {
    background-color: #F9C6CB;
}
.draw-radio input {
	display: none;
}
.draw-radio {
	position: relative;
}
.draw-radio label {
	padding: 8px 15px;
	margin-top: 5px;
	border-radius: 999rem;
}
.draw-radio input:checked + label {
	background: #6855f0;
	color: #fff;
}
#sketch-holder {
	z-index: 999;
}